.column-category {
  width: 25%;
  height: 100%;
  padding: 10px 5px;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  overflow-y: auto;
}
.column-category_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-top: 3px solid black;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin-bottom: 20px;
}
.column-category_header p {
  font-weight: bold;
}
.column-category_header button {
  border: none;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}
