.register_form_container {
  background-color: #fff;
  border-radius: 10px;
  width: 400px;
  max-width: 95%;
  padding: 25px 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.register_form_from {
  width: 100%;
}
.register_form_checkrules {
  margin: 5px 0;
  color: #b6b6b6;
}
.register_form_container small {
  color: #b6b6b6;
}

.register_form_btn {
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  width: 100%;
  color: #fff;
  background-color: #157aff;
  margin-top: 5px;
}
.register_form_btn:active {
  transform: scale(0.98);
}
.register_form_from p {
  text-align: right;
  margin: 10px 0;
  color: rgb(21, 122, 255);
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}
.register-form_signup {
  font-size: 14px;
  margin-top: 5px;
  color: #b6b6b6;
}
.register-form_signup span {
  color: rgb(21, 122, 255);
  font-weight: bold;
  cursor: pointer;
}
