.palette-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100;
}
.palette-backdrop {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}
.palette-content {
  background-color: #fff;
  position: relative;
  padding: 10px;
  border-radius: 10px;
  width: 110px;
  z-index: 1110;
}
.palette-content ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3px;
}
.palette-content li {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  cursor: pointer;
}
.palette-content li:hover {
  outline: 1px solid blue;
}
.palette-content button {
  width: 100%;
  margin-top: 8px;
  border: none;
  border-radius: 5px;
  padding: 5px 0;
  color: #fff;
  cursor: pointer;
}
